* {
  font-family: math;
}
body{
  background-color:#d7e1e3;
}
h3{
  margin: 10px 0 10px 0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 90%;
}
.title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #4b5b5e;
}

.editor {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  min-height: 70vh;
  width: initial;
  border: 2px solid lightblue
}
.rounded{
border-radius: 8px;
}
button {
  margin-top: 20px;
  padding: 6px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 6px 5px grey;
  color: #4b5b5e;
  border: 1.5px solid grey;
}
.button{
  display: flex;
    justify-content: flex-end;
}

.bold-block{
  font-weight: bold;
}
.underline-block{
  text-decoration:underline;
}
.red-block{
  color: red;
}
.code-block{
  background-color: #d7e1e3;
  color: #4b5b5e;
  padding: 10px 5px 10px 5px;
  border-radius: 6px;
}